.recruitment-bg {
    background-image: url("/src/graphics/home-bg.svg");
    background-repeat: no-repeat, repeat;
    background-size: 1750px;
    background-position: center bottom;
}

.recruitment-main {
    width: 100%;
    height: 760px;
    text-align: center;
    max-width: 1500px;
    margin: 0px auto;
}

.recruitment-main .recruitment-text {
    color: white;
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}

.recruitment-text .smaller-text-box {
    width: 50%;
    margin: 0 auto;
}

