.code-for-good {
    max-width: 1500px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}

.code-for-good .hd-text {
    max-width: 500px;
    margin: auto 100px;
    float: left;
}

.code-for-good .speakers-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    background-color: #E55511;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 16px;
}

.code-for-good .hd-bg {
    z-index: 999;
    position: absolute;
    width: 380px;
    right: 44px;
    top: -107px;
}

.code-for-good .hd-photos {
    float: right;
    margin: auto;
    position: relative;
}

.read-our-story-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    background-color: #F7AF1C;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.ideate .innovation {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 16px;

    position: static;
    width: 226px;
    height: 292px;
    left: 274px;
    top: 0px;

    /* Yellow */

    border: 2px solid #F7AF1C;
    border-radius: 16px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 48px;
}
