.what-we-do {
    max-width: 1500px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    background-image: url("/src/graphics/whatwedo-bg.svg");
    background-repeat: no-repeat, repeat;
    background-size: 100px;
    background-position-x: 1000px;
    background-position-y: 80px;
}

@media (max-width: 700px) {
    .what-we-do {
        flex-direction: column;
        margin-top: 50px;
    }
}

.what-we-do .what-we-do-text {
    max-width: 500px;
    margin: auto 100px;
    float: left;
}

.what-we-do .speakers-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    background-color: #F7AF1C;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 16px;
}

.what-we-do .what-we-do-bg {
    z-index: 999;
    position: absolute;
    width: 500px;
    right: -28px;
    top: -242px;
}

.what-we-do .what-we-do-photo {
    width: 328px;
    height: 219px;
    left: 108px;
    float: right;
    margin: auto;
    position: relative;
}

@media (max-width: 700px) {
    .what-we-do .what-we-do-photo {
        position: inherit;
        margin-top: 35px;
    }
}

.see-our-work-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    padding: 6px 12px;
    font-size: 16px;
    background: #F7AF1C;
    border-radius: 3px;

}


.what-we-do .what-we-do-header {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #0042C6;
}

.what-we-do .what-we-do-image-top {
    position: absolute;
    width: 312px;
    height: 207px;
    left: 0px;
    border-radius: 8px;
}

@media (max-width: 700px) {
    .what-we-do .what-we-do-image-top {
        position: inherit;
        width: 328px;
        height: 218px;
    }
}

.what-we-do .what-we-do-image-bottom {
    position: absolute;
    width: 312px;
    height: 207px;
    left: 75px;
    top: 220px;
    border-radius: 8px;
}

@media (max-width: 700px) {
    .what-we-do .what-we-do-image-bottom {
        position: inherit;
        width: 328px;
        height: 218px;
    }
}