.footer {
    background-color: #0042C6;
    display: flex;
    max-width: 1500px;
    font-family: "Source Sans Pro";
    color: white;
    margin: 0px auto;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.socials-icons {
    display: flex;
    justify-content: space-between;
}

.links-block {
    padding: 0 10px;
}

@media (max-width: 700px) {
    .links-block {
        margin-top: 10px;
        padding: 0px;
    }
}

.links-text {
    margin: 10px 0;
    font-size: 22px;
}

@media (max-width: 700px) {
    .links-text {
        text-align: center;
    }
}

.links-header {
    margin-top: 0;
    font-family: Cabin;
}

@media (max-width: 700px) {
    .links-header {
        text-align: center;
    }
}

.logos-section {
    float: left;
    margin: 50px;
}

@media (max-width: 1024px) {
    .logos-section {
        margin: 50px 25px;
    }
}

@media (max-width: 700px) {
    .logos-section {
        text-align: center;
        float: none;
        margin: 30px 0 0 0;
        align-self: center;
    }
}

.mini-hd-logo {
    width: 130px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .mini-hd-logo {
        margin: 0;
    }
}

.fb-icon, .insta-icon, .twitter-icon {
    width: 40px;
}

.links-section {
    float: right;
    margin: 50px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

@media (max-width: 1024px){
    .links-section {
        margin: 50px 50px 50px 0;
        width: auto;
    }
}

@media (max-width: 700px) {
    .links-section {
        flex-direction: column;
        align-self: center;
        margin: 0 0 20px 0;
    }
}