.email-input {
    border-radius: 4px;
    padding-right: 10px;
    background-color: transparent;
    width: 250px;
    height: 46px;
    margin: 35px auto;
}

.email-input.input-white {
    border: 2px solid white;
}

.email-input.input-yellow {
    border: 2px solid #F7AF1C;
}

.email-input input[type="email"] {
    border: 0px;
    outline: none;
    padding: 12px 15px;
    background-color: transparent;
    font-weight: 700;
    font-family: Cabin;
    font-size: 18px;
}

.email-input.input-white input[type="email"] {
    color: white;
}

.email-input.input-yellow input[type="email"] {
    color: #F7AF1C;
}

.email-input.input-white input[type="email"]::placeholder {
    color: #FEFEFE;
    opacity: 0.5;
}

.email-input.input-yellow input[type="email"]::placeholder {
    color: #F7AF1C;
    opacity: 0.5;
}

.email-input i {
    font-size: 16px;
    padding: 5px;
    z-index: 1;
}

.email-input.input-white i {
    color: white;
}

.email-input.input-yellow i {
    color: #F7AF1C;
}

.email-input i:hover {
    cursor: pointer;
}
