.join-the-team-bg {
    background-image: url("/src/graphics/joinus-bg.svg");
    background-repeat: no-repeat, repeat;
    background-position: center bottom;
    background-size: 1600px;
}

.join-the-team {
    max-width: 1500px;
    height: 600px;
    text-align: center;
    margin: 0px auto;
    display: flex;
}

.join-the-team-text {
    margin: auto;
    max-width: 800px;
}

@media (max-width: 1440px){
    .join-the-team-text {
        padding: 24px;
    }
}