.navbar {
    font-family: Source Sans Pro;
    padding: 30px 0;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hd-symbol {
    width: 35px;
    height: 35px;
    margin: 10px 30px;
}

.navbar-list {
    margin-right: 30px;
}

.navbar-header li {
    display: inline;
    margin: 0 15px;
    font-size: 18px;
}

.navbar-header .navbar-list li a {
    color: white;
}

.navbar-header .navbar-list .join-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    background-color: #F7AF1C;
    padding: 6px 12px;
    border-radius: 3px;
}

.navbar-header .link-active-about {
    text-decoration: underline;
    text-decoration-color: #F7AF1C;
    text-decoration-thickness: 2px;
}

.navbar-header .link-active-humans {
    text-decoration: underline;
    text-decoration-color: #999999;
    text-decoration-thickness: 2px;
}

.navbar-header .link-active-events {
    text-decoration: underline;
    text-decoration-color: #44ecbc;
    text-decoration-thickness: 2px;
}