body {
  font-family: Cabin;
}

.main-app {
  max-width: 1500px;
  margin: 0 auto !important;
  float: none !important;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 0;
}

div, p, span {
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}