.code-for-good {
    max-width: 1500px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}

.code-for-good .hd-text {
    max-width: 500px;
    margin: auto 100px;
    float: left;
}

.code-for-good .speakers-button {
    font-weight: 700;
    height: 32px;
    width: 276px;
    background-color: #E55511;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 16px;
}

.code-for-good .hd-bg {
    z-index: 999;
    position: absolute;
    width: 380px;
    right: 44px;
    top: -107px;
}

.code-for-good .hd-photos {
    float: right;
    margin: auto;
    position: relative;
}